# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Pruvious dev/build outputs
.autoload.sql
.pruvious
.ssh.*
/.uploads/*
!/.uploads/lehrer_lempel*

pruvious.db-journal

public/uploads/*
!public/uploads/lehrer_lempel*