NUXT_PUBLIC_ODOO_BASE_URL=https://vsfdemo15.labs.odoogap.com/

NUXT_PUBLIC_MIDDLEWARE_URL=http://localhost:3000/
NUXT_PUBLIC_MIDDLEWARE_PORT=8443
NUXT_STORYBLOK_TOKEN=

# NUXT_PUBLIC_PATH=https://xyz.cloudfront.cdn.com

NODE_ENV=dev
NUXT_NODE_LOCALE=en-EN
NUXT_PUBLIC_VSF_PORT=3000

REDIS_ENABLED=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=pass
# Used for invalidating cache
NUXT_REDIS_INVALIDATION_KEY=123

NUXT_TELEMETRY_DISABLED=1
GOOGLE_TAG_MANAGER_ID=1

# PRUVIOUS (provided key is just an example)
NUXT_PRUVIOUS_JWT_SECRETKEY=0TvXHhEiw-lyvGOnUH4YVs7g6UUqLfbOUId9Rpii5J8K0o8YQqL3v4cmGGt6jvnq
NUXT_PRUVIOUS_DATABASE=postgres://default:************@ep-royal-salad-18711145.eu-central-1.postgres.vercel-storage.com:5432/verceldb
NUXT_DOMAIN_CODE=
NUXT_ODOO_SYNC_USER_EMAIL=
NUXT_ODOO_SYNC_USER_PASSWORD=""
